*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body{
    background-color: #8797B2;
    overflow-x: hidden; 
}

#logo{
    max-width: 70px;
    margin:  0px 15px;
}

#crudTitle{
    color:black;
    font-weight: bold;
    padding-right: 10px;
}

.navbar{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: #39A0ED;
}

#mensajeUsuario{
    position: absolute;
    margin-top: 80px;
    width: 400px;
    z-index: 3;

}
#firstCol{
    padding: 7% 2%;
}

#formImg{
    background-image: url("../img/students.jpg");
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.navbar-nav>.nav-link:link, .navbar-nav>.nav-link:active, .navbar-nav>.nav-link:visited{
    color: white;
}

a:hover{
    color: white;
    font-weight: bold;
}

/* USER TABLES */
#tableContainer{
    position: relative;
    margin-top: 80px;
}

table{
    padding: 0px;
    margin: 0px;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #39A0ED;
}

footer>p{
    padding:10px 0px;
    text-align: center;
    margin-bottom: 0px;
}
footer>a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
}

/*Media queries
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px){
    #firstCol{
        margin-bottom: 5%;
        margin-top: 10%;
    }
    #formImg{
        display: none;
    }
}

@media (min-width: 576px) and (max-width:767px) { 
    #firstCol{
        margin-bottom: 5%;
        margin-top: 10%;
    }
    #formImg{
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px){ 
    #firstCol{
        padding-bottom: 5%;
        padding-top: 14%;
    }
    #formImg{
        display: none;
    }
 }

@media (min-width: 992px) and (max-width: 1199px){
    #firstCol{
        padding-bottom: 5%;
        padding-top: 10%;
    }
}

@media (max-width: 1200px) { 
    #firstCol{
        padding-top: 10%;
        padding-bottom: 8%;
    }
 }